.header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $grey-light;
  box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.navBtn {
  font-size: 3rem;
  cursor: pointer;
}