// ==================================================================
// HEADINGS
// ==================================================================
h1 {
  font-size: 3rem;
  letter-spacing: .5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1rem;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: .5rem;
  color: $orange-dark;
}


// ==================================================================
// SPAN COLORS
// ==================================================================

.oLight {
  color: $orange-light;
}

.oDark {
  color: $orange-dark;
}

.pLight {
  color: $purple-light;
}

.pDark {
  color: $purple-dark;
}

.bLight {
  color: $blue-light;
}

.bDark {
  color: $blue-dark;
}

// ==================================================================
// UTILITIES
// ==================================================================
.add {
  position: absolute;
  right: 4rem;
  top: 4rem;
  padding: 1rem;
  border-radius: .3rem;
}

.addOrange {
  font-size: 2rem;
  background-image: linear-gradient(to right, $orange-light, $orange-dark);
  color: $white;
}

.form {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.u-margin-top-sm {
  margin-top: 1.5rem;
}

.btn {
  padding: 1rem;
  border: 0;
  border-radius: .5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: .2rem;
  display: inline-block;
}

.btnOrange {
  background-image: linear-gradient(to right, $orange-light, $orange-dark);
  color: $white;
}