<footer class="footer">
  <div class="footer-social">
    <a href="" class="social_link">
      <i class="fab fa-facebook-f social_icon"></i>
    </a>
    <a href="" class="social_link">
      <i class="fab fa-instagram social_icon"></i>
    </a>
    <a href="" class="social_link">
      <i class="fab fa-twitter social_icon"></i>
    </a>
    <a href="" class="social_link">
      <i class="fab fa-pinterest social_icon"></i>
    </a>
  </div>
  <p class="legal__text">
    Copyright &copy;2021
  </p>
</footer>