<header class="header">
  <h1>
    <span class="oLight">P</span>
    <span class="oDark">O</span>
    <span class="pLight">S</span>
    <span class="pDark">S</span>
    <span class="bLight">O</span>
  </h1>
  <div class="nav-bar">
    <i class="fas fa-bars navBtn oDark"></i>
  </div>
</header>