<header class="header">
  <h1>
    <a href="/" class="link">
      <span class="oLight">P</span>
      <span class="oDark">O</span>
      <span class="pLight">S</span>
      <span class="pDark">S</span>
      <span class="bLight">O</span>
    </a>
  </h1>
  <div class="nav-bar">
    <i class="fas fa-bars navBtn oDark" id="menu"></i>
  </div>

  <nav class="nav">
    <i class="fas fa-times" id="closeBtn"></i>
    <div class="navContainer">
      <a href="/" class="link">
        <h4 class="nav_heading">Home</h4>
      </a>
      <a href="/trips" class="link">
        <h4 class="nav_heading">Trips</h4>
      </a>
      <a href="/trips/add" class="link">
        <h4 class="nav_heading">Add A Trip</h4>
      </a>
    </div>
  </nav>
</header>