<section class="mainHomepage">
  <h3 class="heading-3-home">Posso is the travel planning app that lets you plan the perfect trip</h3>
  <a href="/trips" class="btn btnPurple u-margin-top-med link">See My Trips</a>
</section>