*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Staatliches";
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1rem;
}

h2.orangeLight {
  color: #f29b18;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  color: #f18f01;
}

.heading-2 {
  font-size: 5rem;
}

.oLight {
  color: #f29b18;
}

.oDark {
  color: #f18f01;
}

.pLight {
  color: #8518f2;
}

.pDark {
  color: #5708A6;
}

.bLight {
  color: #008AF2;
}

.bDark {
  color: #005FA6;
}

.add {
  position: absolute;
  right: 4rem;
  top: 4rem;
  padding: 1rem;
  border-radius: 0.3rem;
}

.addOrange {
  font-size: 2rem;
  background-image: linear-gradient(to right, #f29b18, #f18f01);
  color: #fff;
  cursor: pointer;
}

.form {
  display: inline-block;
  cursor: pointer;
}
.form:not(:last-child) {
  margin-right: 1rem;
}

.u-margin-top-sm {
  margin-top: 1.5rem;
}

.u-margin-top-med {
  margin-top: 2.5rem;
}

.u-margin-right-sm {
  margin-right: 1rem;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-center {
  text-align: center;
}

.btn {
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.2rem;
  display: inline-block;
  cursor: pointer;
}

.btnOrange {
  background-image: linear-gradient(to right, #f29b18, #f18f01);
  color: #fff !important;
}

.btnPurple {
  background-image: linear-gradient(to right, #8518f2, #5708A6);
  color: #fff !important;
  font-size: 1.8rem;
}

.btnRed {
  background-image: linear-gradient(to right, rgba(233, 52, 52, 0.836), red);
  color: #fff;
  font-size: 1.8rem;
}

.width-100 {
  width: 100%;
}

.u-font-size-18 {
  font-size: 1.8rem;
}

.link {
  text-decoration: none;
}

.updateForm,
.createForm {
  padding: 12rem 0;
  display: flex;
  justify-content: center;
  align-self: center;
}

.formContainer {
  padding: 4rem;
  border-radius: 0.5rem;
  color: #fff;
  width: 50%;
}
.formContainer--orange {
  background-image: linear-gradient(to right bottom, #f29b18, #f18f01);
}
.formContainer--purple {
  background-image: linear-gradient(to right bottom, #8518f2, #5708A6);
}

.trueForm label {
  display: block;
  font-size: 1.8rem;
  margin-left: 1rem;
}
.trueForm input {
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  margin: 1.5rem 0;
  font-family: "Staatliches";
  width: 100%;
  color: #5708A6;
}
.trueForm input::placeholder {
  font-family: "Staatliches";
  color: #f18f01;
  font-size: 1.8rem;
}

.header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.navBtn {
  font-size: 3rem;
  cursor: pointer;
}

.nav {
  background-color: white;
  width: 25%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(40rem);
  z-index: 1000;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in;
}

#closeBtn {
  font-size: 2.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: #f18f01;
  cursor: pointer;
}
#closeBtn:hover, #closeBtn:focus {
  color: #8518f2;
}

.navContainer {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  color: #8518f2;
}

.nav_heading {
  padding: 2rem;
  border: 1px solid #ccc;
  color: #8518f2;
  transition: color 0.3s ease-in;
}
.nav_heading:hover, .nav_heading:focus {
  color: #005FA6;
}

.navActive {
  transform: translateX(0);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  border-top: 2px solid #ccc;
  box-shadow: 0rem -0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.social_link {
  text-decoration: none;
  color: #5708A6;
  margin: 1rem;
}

.social_icon {
  font-size: 2.5rem;
}

.legal__text {
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #f18f01;
}

.trips-section {
  padding: 12rem 8rem;
  position: relative;
}

.trips {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.trip {
  width: 32%;
  padding: 6rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  margin-top: 4rem;
}
.trip_dates {
  font-size: 1.6rem;
  color: #008AF2;
  margin-top: 0.5rem;
}
.trip .cities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.trip .city {
  font-size: 1.8rem;
  color: #5708A6;
}
.trip .city:not(:last-child) {
  margin-right: 1rem;
}

.indTrip {
  padding: 14rem 8rem 16rem 8rem;
}

.tripDates {
  margin-top: 4rem;
  font-size: 4rem;
  color: #5708A6;
  letter-spacing: 0.3rem;
}

.citiesContainer {
  margin: 2rem 0;
}

.tripCities {
  font-size: 1.6rem;
  color: #005FA6;
  letter-spacing: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
