<h2>
  <span>My</span>
  <span>Trips</span>
</h2>

<form action="/trips" method="POST">
  <div class="form-group">
    <label for="tripName">Trip Name:</label>
    <input type="text" name="tripName" id="tripName">
  </div>
  <div class="form-group">
    <label for="tripDates">Trip Dates:</label>
    <input type="text" name="tripDates" id="tripDates">
  </div>
  <input type="submit" value="submit">
  <a href="/trips">Cancel</a>
</form>