<h1>You are on the update route for the trips</h1>

<form action="/trips/<%= trip._id%>/?_method=put" method="POST">
  <div class="form-group">
    <label for="tripName">Trip Name:</label>
    <input type="text" name="tripName" id="tripName">
  </div>
  <div class="form-group">
    <label for="tripDates">Trip Dates:</label>
    <input type="text" name="tripDates" id="tripDates">
  </div>
  <input type="submit" value="submit">
  <a href="/trips/<%= trip._id%>">Cancel</a>
</form>